body {
  background-color: #b1e697;
;
  font-family: "Baskerville", serif;
}

h1 {
  font-family: 'Baskerville', serif;
  font-size: 32px;        /* Larger but not oversized */
  font-weight: normal;    /* Traditional serif styling */
  line-height: 1.2;       /* Tight, old-school feel */
  color: #000000;         /* Classic black text */
  margin-bottom: 0.5em;   /* Slight space after heading */
}

h2 {
  font-family: 'Baskerville', serif;
  font-size: 24px;        /* Smaller than H1, clear hierarchy */
  font-weight: normal;
  line-height: 1.3;
  color: #111111;
  margin-bottom: 0.5em;
}

p {
  font-family: 'Baskerville', serif;
  font-size: 16px;        /* Standard readable size */
  font-weight: normal;
  line-height: 1.6;       /* Comfortable reading */
  color: #222222;
  margin-bottom: 1em;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: background-color: white;
;
}

/* selected link */
a:active {
  color: white;
}

<!--
 .tab { margin-left: 40px; }
-->
